body,html {
	height: 100%;
	margin: 0;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
}

.times {
	margin-top: 150px;
	text-shadow: 0 1px 5px rgba(0,0,0,.1);
}	


.content {
	text-align: center;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 25px;
}


.times .days-wrapper,
.times .hours-wrapper,
.times .minutes-wrapper,
.times .seconds-wrapper {
	display: inline-block;
	width: 160px;
	height: 160px;
	margin: 0 10px;
	padding-top: 55px;
	background: #2d2d2d; 
	background: rgba(45, 45, 45, 0.7);
	font-size: 24px;
	line-height: 22px;
	border-radius: 50%;
}

.times .days-wrapper:hover,
.times .hours-wrapper:hover,
.times .minutes-wrapper:hover,
.times .seconds-wrapper:hover {
	background: #e75967;
	text-shadow: none;
}

.times .days,
.times .hours,
.times .minutes,
.times .seconds {
	font-size: 80px;
	line-height: 90px;
}


.subscribe {
	margin-top: 70px;
	text-align: center;
}

.subscribe h3 {
	text-align: center;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 25px;
	text-shadow: 0 1px 5px #080808;
	
}

.subscribe p {
	text-align: center;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	text-shadow: 0 1px 5px #080808;
}

.subscribe form {
	margin-top: 24px;
}

.subscribe form input.subscribe-email {
	height: 46px;
	margin: 0;
	padding: 0 10px;
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 46px;
	color: #888;
	border: 0;
	border-radius: 0;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.subscribe form input:focus {
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}


.subscribe form button {
	width: 130px;
	height: 46px;
	margin: 0;
	padding: 0;
	background: #e75967;
	border: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 46px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	border-radius: 0;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
	transition: all .3s;
}

.subscribe form button.btn:hover {
	background: #555;
	color: #fff;
}

.subscribe form button.btn:focus, .subscribe form button.btn:active {
	outline: 0;
	background: #555;
	color: #fff;
}


.social {
	margin-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.social a {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 3px;
	padding-top: 11px;
	background: #555;
	border-radius: 50%;
	font-size: 28px;
	color: #fff;
	line-height: 28px;
}

.social a:hover, .social a:focus { 
	outline: 0; 
	background: #e75967; 
}


footer {
	background: #222;
}

footer a,p {
	color: #fff;
	padding:15px 0 10px 0;
}